nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.hamburger {
    display: none;
}

.logo {
    color: #75ACA9;
    font-family: "PT Mono", monospace;
    border: 2px solid #75ACA9;
    border-radius: 50%;
    padding: 10px;
}

.logo h1 {
    margin: 0;
}

.logo h1:hover {
    cursor: crosshair;
}

.links {
    display: flex;
    align-items: center;
    color: white;
    font-family: "PT Mono", monospace;
    font-style: normal;
}

.links ul {
    display: flex;
    color: #fff;
    list-style: none;
}

.links ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #A9A9A9;
    transition: 0.2s ease-in-out;
}

.links ul li a:hover {
    color: #75ACA9;
}



.links ul li p {
    color: #75ACA9;
    padding-right: 5px;
}

.links ul li {
    display: flex;
    align-items: center;
    margin: 0 40px 0 0;
}

.links button {
    padding: 10px 12px;
    border-radius: 4px;
    border: 2px solid #75ACA9;
    background-color: transparent;
    color: #75ACA9;
    font-family: "PT Mono", monospace;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

.links button a {
    text-decoration: none;
    color: #75ACA9;
}

.links button:hover {
    background-color: rgb(169, 169, 169, 0.1);
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    nav {
        padding-top: 20px;
    }

    .links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger_lines {
        height: 30px;
    }

    .hamburger_x {
        height: 30px;
        color: #75ACA9;
    }

    .mobile_links {
        z-index: 10;
        position: absolute;
        background-color: #081B30;
    }

    .mobile_links div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .mobile_links div a {
        text-decoration: none;
        color: #75ACA9;
        font-family: "PT Mono", monospace;
        font-style: normal;
        margin: 10px 0;
        font-size: 25px;
    }

    .mobile_links div button {
        padding: 10px 12px;
        border-radius: 4px;
        border: 2px solid #75ACA9;
        background-color: transparent;
        color: #75ACA9;
        font-family: "PT Mono", monospace;
        font-size: 18px;
        margin-top: 20px;
    }
}