.projects_section {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto 250px auto;
}

.project_container {
    display: flex;
    text-align: right;
    margin-top: 100px;
    margin: 100px auto 0 auto;
    max-width: 80%;
}

.project_container_alt {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 100px;
    width: fit-content;
}

.project_img_alt {
    width: 100%;
}

.project_container_alt .project_img_alt img {
    filter: grayscale(1);
    z-index: 1;
    border-radius: 4px;
    transition: 0.25s ease-in-out;
    position:relative;
}

.project_img_alt:hover img {
    filter: grayscale(0);
}

.project_img {
    width: 50%;
}

.project_img img {
    filter: grayscale(1);
    z-index: 1;
    border-radius: 4px;
    transition: 0.25s ease-in-out;
    height: 350px;
    width: 600px;
}

.project_img:hover img {
    filter: grayscale(0);
}

.project_info_alt {
    width: 100%;
    z-index: 5;
}


.project_info {
    width: 100%;
    z-index: 5;
}

.project_title {
    color: white;
    font-size: 30px;
    font-family: "Mingzat", sans-serif;
}

.project_desc {
    color: #838FAE;
    font-family: "Mingzat", sans-serif;
    background-color: #112240;
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    padding: 25px;
    border-radius: 4px;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.media_link {
    color: #75ACA9;
    text-decoration: none;
    border: none;
    transition: 0.25s ease-in-out;
}

.media_link:hover {
    border-bottom: 1px solid #75ACA9;
}

.project_tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    color: #838FAE;
    font-family: "Mingzat", sans-serif;
}

.project_tech_alt {
    display: flex;
    justify-content: left;
    color: #838FAE;
    font-family: "Mingzat", sans-serif;
}

.project_tech_alt:hover {
    cursor: default;
}

.project_tech_alt p {
    margin-right: 20px;
}

.project_tech:hover {
    cursor: default;
}

.project_tech p {
    margin-left: 20px;
}

.project_icons {
    display: flex;
    justify-content: right;
    align-items: center;
}

.project_icons_alt {
    display: flex;
    justify-content: left;
    align-items: center;
}

.project_icons_alt .repo {
    height: 28px;
}

.project_link_icon_alt {
    color: #838FAE;
    height: 25px;
    margin-right: 20px;
}

.project_link_icon_alt:hover {
    color: #75ACA9;
}

.project_icons .repo {
    height: 28px;
}

.project_link_icon {
    color: #838FAE;
    height: 25px;
    margin-left: 20px;
}

.project_link_icon:hover {
    color: #75ACA9;
}

@media screen and (max-width: 1300px) {

    .project_container {
        flex-direction: column;
    }

    .project_img {
        width: auto;
        margin: auto;
    }

    .project_info {
        text-align: left;
        margin: auto;
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .project_img img {
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width: 376px) {
    .projects_section {
        width: 100%;
        margin: 0 auto 70px auto;
    }

    .title_container {
        margin: auto;
    }

    .title_container p {
        font-size: 18px;
    }

    .title_container hr {
        display: none;
    }

    .project_container {
        margin: 20px auto 30px auto;
    }

    .project_info {
        margin: 0;
        width: 100%;
    }

    .project_title {
        font-size: 20px;
    }

    .project_img img{
        height: 200px;
    }

    .project_desc {
        width: 100%;
        font-size: 16px;
        letter-spacing: 0;
        padding: 0;
        box-shadow: none;
        background-color: transparent;
    }

    .project_tech {
        justify-content: left;
    }

    .project_tech p {
        margin: 0 10px 0 0;
        font-size: 12px;
    }

    .project_icons {
        justify-content: left;
    }

    .project_icons .project_link_icon {
        margin: 10px 10px 0 0;
        height: 20px;
    }
}